<!-- forgot password -->
<div class="container pb-5" id="forgotpassword">
    <div class="row pb-5 mt-5">
      <div class="col-md-6 offset-md-3 mt-3">
        
        <form class="text-center border border-light p-5" #forgot="ngForm" (ngSubmit)="requestdata(forgot.value)">
  
            <p class="h4 mb-4">Forgot Password</p>
    <p>Enter Username</p>
    
    <input type="text" id="" name="username" class="form-control mb-4" placeholder="Enter Username" ngModel>
            
    <p>Enter correct password</p>

            <input type="text" id="" name="forgotpassword" class="form-control mb-4" placeholder="Enter correct password" ngModel>
  
            <button class="btn teal text-white btn rounded btn-block" type="submit">Submit</button>
        </form>
        
      </div>
    </div>  
  </div>
<div [innerHTML]="message"></div>
  <!-- forgot password -->

