<!--update product stock-->
<div class="container pb-5" id="RawMaterialStockID">
    <div class="row pb-5 mt-5">
      <div class="col-md-6 offset-md-3 mt-3">
        
        <form class="text-center border border-light p-5" #productupdate="ngForm" (ngSubmit)="updateproduct(productupdate.value)">
  
            <p class="h4 mb-4"> Update Product Stock</p>
  
            <p>Enter Order ID</p>
            <input type="number" id="" name="productid" class="form-control mb-4" placeholder="Enter Product Order ID" ngModel>
            <input type="date"  id="" name="mandate" class="form-control mb-4" placeholder="Set Manufacturing Date" ngModel>
            <input type="date"  id="" name="expirydate" class="form-control mb-4" placeholder="Set Expiry Date" ngModel>
            <input type="text"  id="" name="quality" class="form-control mb-4" placeholder="Set Quality Check" ngModel>
  
  
            <button class="btn teal text-white btn rounded btn-block" type="submit">Submit</button>
        </form>
        
      </div>
    </div>  
  </div>
  <!-- end of product stock update -->