
<!-- Product material stock -->
<div class="container pb-5" id="RawMaterialStockID">
    <div class="row pb-5 mt-5">
      <div class="col-md-6 offset-md-3 mt-3">
        
        <form class="text-center border border-light p-5" #product="ngForm" (ngSubmit)="requestdata(product.value)">
  
            <p class="h4 mb-4">Product Stock</p>
  
            <p>Enter Order ID</p>
            <input type="number" id="" name="productid" class="form-control mb-4" placeholder="Enter Product Order ID" ngModel>
  
            <button class="btn teal text-white btn rounded btn-block" type="submit">Submit</button>
        </form>
        
      </div>
    </div>  
  </div>
  <div [innerHTML]="test"></div>
  <!-- end of Product material stock -->
 